extends layout

block content
  .w3-card-4
    header.w3-light-blue
      h2.w3-center Acordãos
    .w3-container
      table.w3-table-all
        thead
          tr
            th Processo
            th Data
            th Tribunal
            th Relator
        tbody
          each acordao in acordaos
            tr
              td
                a(href='/acordao/' + acordao._id)= acordao.processo
              td= acordao.data_acordao
              td
                a(href='/tribunal/' + acordao.tribunal)= acordao.tribunal
              td= acordao.relator

  .pagination.w3-left
    if page > 1
      button.w3-button(type='button', onclick=`window.location.href='/?page=${page-1}&limit=${limit}'`) <
  .pagination.w3-right
    if page < totalPages
      button.w3-button(type='button', onclick=`window.location.href='/?page=${page+1}&limit=${limit}'`) >
